    font-size: 12px;
    font-family: sans-serif;
    --token-75ba2e89-09ea-428e-9391-512cd257f210: rgb(10, 10, 10);
    --token-b8807c6f-9e1d-49de-91ed-bb0c35d4a37d: rgb(255, 255, 255);
    --token-8bbe03b2-3b1c-4234-bf4b-4826068b08ee: rgba(255, 255, 255, .51);
    --token-02dda455-843d-421f-8911-9e7d5164779d: rgba(255, 97, 48, .7);
    --token-4ee600e9-b261-4d58-ac71-46221076960e: rgba(255, 255, 255, .13);
    --token-6a6d1399-e0d3-458b-9e29-96d27df1c9d2: rgba(255, 255, 255, .04);
    --token-ef852ac2-45fb-4ed4-87dc-3043682d84cc: rgb(255, 206, 194);
    --framer-will-change-override: none;
    --framer-aspect-ratio-supported: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;